{{ define "main" }}
<h1>{{.Title}}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ $yearGroups := (where .Site.RegularPages "Section" "w").GroupByDate "2006" }}
<p>
  {{ range $index, $y := $yearGroups }}
    {{ with $.Site.GetPage (printf "/w/%s" $y.Key) }}<a href="{{ .RelPermalink }}">{{ $y.Key }}</a>{{ if lt (add $index 1) (len $yearGroups) }}, {{ end }}{{ end }}
  {{ end }}
</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

<table>
  <tr>
    <td>Date</td>
    <td>Puzzle</td>
    <td>Turns</td>
    <td>Score</td>
    <td>Grid</td>
  </tr>

  {{ range where .Data.Pages "Kind" "page" }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006" .Date }}</a></td>
      <td><a href="{{ with $.GetPage (printf "/puzzles/%s" (index .Params.puzzles 0)) }}{{ .RelPermalink}}{{end}}">{{ index .Params.puzzles 0 }}</a></td>
      <td><a href="{{ .RelPermalink }}">{{ partial "guess-count.html" . }}{{- cond (eq .Params.state.hardMode true) "*" "" -}}</a></td>
      <td><a href="{{ .RelPermalink }}">{{ partial "puzzle-score.html" . }}</a></td>
      <td>{{ partial "emoji-grid" . }}</td>
    </tr>

  {{ end }}
</table>
{{ end }}
