{{ define "head" }}
  <meta property="og:url" content=""/>
  <meta property="og:title" content="{{ $.Site.Title }}" />
  <meta property="og:description" content="Wordle puzzle #{{ .Params.puzzle }} completed on {{ .Date.Format "January 2, 2006" }}" />
  <meta property="twitter:label1" value="Guesses" />
  <meta property="twitter:data1" value="{{ partial "guess-count" . }}" />
  <meta property="twitter:label2" value="Score" />
  <meta property="twitter:data2" value="{{ partial "puzzle-score.html" . }}" />
  <meta property="twitter:label3" value="Outcome" />
  <meta property="twitter:data3" value="{{ lower .Params.state.gameStatus }}" />
  <meta property="twitter:label4" value="Hard Mode" />
  <meta property="twitter:data4" value="{{ .Params.state.hardMode}}" />
{{ end }}

{{ define "main" }}

<h1>{{.Title}}</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<p>Date: <strong>{{ .Date.Format "January 2, 2006" }}</strong></p>
<p>Puzzle: <strong>{{ .Params.puzzle | default "--" }}</strong></p>
<p>Outcome: <strong>{{ lower .Params.state.gameStatus}}</strong></p>
<p>Hard Mode: <strong>{{ .Params.state.hardMode}}</strong></p>
<p>{{ partial "emoji-grid" . }}</p>
<p>
  <details>
    <summary>
      Guesses: <strong>{{ partial "guess-count" . }}</strong> (⛔️ Spoilers❗️)
    </summary>
    <table>
      <tr>
        <th>#</th>
        <th>Word</th>
        <th>Usage</th>
      </tr>
    {{ $title := .Title }}
    {{ range $g, $guess := .Params.state.boardState }}
      {{ if not (eq $guess "") }}
        {{ with $.Site.GetPage (printf "/words/%s" $guess) }}
          <tr>
            <td>{{ add $g 1 }}</td>
            <td>
              <a href="{{ .RelPermalink }}">{{ $guess }} {{ cond (eq $guess $.Params.state.solution) "✨" ""}}</a>
            </td>
            {{ $guessHistory := index $.Site.Taxonomies.words $guess }}
            {{ $guessSeq := -1 }}
            {{ range $i, $pastGuess := $guessHistory.Pages.ByDate }}
              {{ if eq $pastGuess.Title $title }}
                {{ $guessSeq = $i }}
              {{ end }}
            {{ end }}
            {{ $displayUsage := add $guessSeq 1 }}
            <td>{{ $displayUsage }} / {{ len $guessHistory }} {{ cond (eq $displayUsage 1) "✅" ""}}</td>
          </tr>
        {{ end }}
      {{ end }}
    {{ end }}
    </table>
  </details>
</p>
<p>
  <details>
    <summary>
      Puzzle Score: <strong>{{ partial "puzzle-score.html" . }}</strong>
    </summary>
    {{ partial "puzzle-score-detail.html" .}}
  </details>
</p>

{{ .Content }}

{{ with .PrevInSection }}
<div>
  Prev Puzzle: <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>
</div>
{{ end }}
{{ with .NextInSection }}
<div>
  Next Puzzle: <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>
</div>
{{ end }}
<div style="opacity:0.3">
  <div>Published: {{ dateFormat "2006-01-02 15:04 -0700" .Date }}</div>
  {{ with .GitInfo }}
  <div>Committed: {{ dateFormat "2006-01-02 15:04 -0700" .AuthorDate.Local }}</div>
  {{ end }}
</div>

{{ end }}
