{{ define "main" }}

<h1>{{.Title}}</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<p>Date: <strong>{{ .Date.Format "January 2, 2006" }}</strong></p>
<p>Puzzle: <strong>{{ .Params.puzzle | default "--" }}</strong></p>
<p>Outcome: <strong>{{ lower .Params.state.gameStatus}}</strong></p>
<p>Hard Mode: <strong>{{ .Params.state.hardMode}}</strong></p>
<p>
{{ range $g, $guess := .Params.state.boardState }}
  {{ range $c, $char := split $guess "" -}}
    {{ $eval := index $.Params.state.evaluations $g $c }}
    {{- if eq $eval "correct" -}}
      🟩
    {{- else if eq $eval "present" -}}
      🟨
    {{- else -}}
      ⬛️
    {{- end -}}
  {{ end }}
  <br />
{{ end }}
</p>
<p>
  <details>
    <summary>
      Guesses: <strong>{{ partial "guess-count" . }}</strong> (⛔️ Spoilers❗️)
    </summary>
    <ul>
    {{ range $g, $guess := .Params.state.boardState }}
      {{ if not (eq $guess "") }}
        {{ with $.Site.GetPage (printf "/words/%s" $guess) }}
          <li><a href="{{ .RelPermalink }}">{{ $guess }}</a> {{ cond (eq $guess $.Params.state.solution) "✨" ""}}</li>
        {{ end }}
      {{ end }}
    {{ end }}
    </ul>
  </details>
</p>
<p>
  <details>
    <summary>
      Puzzle Score: <strong>{{ partial "puzzle-score.html" . }}</strong>
    </summary>
    {{ partial "puzzle-score-detail.html" .}}
  </details>
</p>

{{ .Content }}

<div style="opacity:0.3">
  <div>Published: {{ dateFormat "2006-01-02 15:04 -0700" .Date }}</div>
  {{ with .GitInfo }}
  <div>Committed: {{ dateFormat "2006-01-02 15:04 -0700" .AuthorDate.Local }}</div>
  {{ end }}
</div>

{{ end }}
