{{ define "main" }}

<h1>{{.Title}}</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<p>Date: <strong>{{ .Date.Local.Format "January 2, 2006"  }}</strong></p>
<p>Outcome: <strong>{{ lower .Params.state.gameStatus}}</strong></p>
<p>Hard Mode: <strong>{{ .Params.state.hardMode}}</strong></p>

<table>
  {{ range $g, $guess := .Params.state.boardState }}
    <tr>
      {{ range $c, $char := split $guess "" }}
        {{ $eval := index $.Params.state.evaluations $g $c }}

        {{ $style := "" }}
        {{ if eq $eval "correct"}}
          {{ $style = "color: green" }}
        {{ else if eq $eval "present"}}
          {{ $style = "color: yellow" }}
        {{ else }}

        {{ end }}
        <td style="{{ $style }}">
          {{ $char }}
        </td>
      {{ end }}
    </tr>
  {{ end }}

</table>

{{ .Content }}

{{ end }}
