{{ $found := slice }}

{{ range . }}
  {{ $guessCount := partialCached "guess-count" . .File.Path }}
  {{ if and (eq .Params.state.gameStatus "WIN") (eq $guessCount 6) }}
    {{ $lastGuessIndex := sub $guessCount 1 }}

    {{ if gt $lastGuessIndex 0 }}
      {{ $beforeScore := 0 }}
      {{ $afterScore := 0 }}

      {{ with (index .Params.state.evaluations (sub $lastGuessIndex 1)) }}
        {{ range . }}
          {{- if eq . "correct" -}}
            {{ $beforeScore = add $beforeScore 0 }}
          {{- else if eq . "present" -}}
            {{ $beforeScore = add $beforeScore 1 }}
          {{- else if eq . "absent" -}}
            {{ $beforeScore = add $beforeScore 2 }}
          {{- end -}}
        {{ end }}
      {{ end }}

      {{ with (index .Params.state.evaluations $lastGuessIndex) }}
        {{ range . }}
          {{- if eq . "correct" -}}
            {{ $afterScore = add $afterScore 0 }}
          {{- else if eq . "present" -}}
            {{ $afterScore = add $afterScore 1 }}
          {{- else if eq . "absent" -}}
            {{ $afterScore = add $afterScore 2 }}
          {{- end -}}
        {{ end }}
      {{ end }}

      {{ $progressPoints := sub $beforeScore $afterScore }}

      {{ if ge $progressPoints 4 }}
        {{ $found = $found | append (slice (dict "date" .Date "puzzle" . "progressPoints" $progressPoints)) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $found }}
