{{ $found := slice }}
{{ range . }}
  {{ $wordleDate := .Date }}
  {{ $wordle := . }}

  {{ $guessCount := partialCached "guess-count" $wordle $wordle.File.Path }}
  {{ $homogenousGuesses := slice }}

  {{ range $guess := .Params.state.evaluations }}
    {{ if $guess }}
      {{ $presentLetters := 0}}
      {{ $correctLetters := 0}}
      
      {{ range $e := $guess }}
        {{ if eq "present" $e }}
          {{ $presentLetters = add $presentLetters 1 }}
        {{ else if eq "correct" $e }}
          {{ $correctLetters = add $correctLetters 1 }}
        {{ end }}
      {{ end }}

      {{ if (or (eq $presentLetters 0) (eq $correctLetters 0) ) }}
        {{ $homogenousGuesses = $homogenousGuesses | append (dict "present" $presentLetters "correct" $correctLetters "guess" $guess) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if (eq $guessCount (len $homogenousGuesses)) }}
    {{ $found = $found | append (slice (dict "date" $wordleDate "puzzle" $wordle "guessCount" $guessCount "homoGuesses" $homogenousGuesses )) }}
  {{ end }}

{{ end }}
{{ return $found }}
