{{ $letters := dict }}
{{ $singleCoverage := dict }}
{{ range (split "abcdefghijklmnopqrstuvwxyz" "") }}
  {{ $letters = merge $letters (dict . 0) }}
  {{ $singleCoverage = merge $singleCoverage (dict . (dict "1" false "2" false "3" false "4" false "5" false)) }}
{{ end }}
{{ $singles := slice }}
{{ $doubles := slice }}
{{ range $guess := .Params.state.boardState }}
  {{ if and $guess (ne $guess "") }}
    {{ $lower := lower $guess }}
    {{ range $i, $char := (split $lower "") }}
      {{ $letters = merge $letters (dict $char (add (index $letters $char) 1)) }}
      {{ $slot := string (add $i 1) }}
      {{ $coverage := index $singleCoverage $char }}
      {{ $singleCoverage = merge $singleCoverage (dict $char (merge $coverage (dict $slot true))) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ range (split "abcdefghijklmnopqrstuvwxyz" "") }}
  {{ $coverage := index $singleCoverage . }}
  {{ if and (index $coverage "1") (index $coverage "2") (index $coverage "3") (index $coverage "4") (index $coverage "5") }}
    {{ $singles = $singles | append . }}
  {{ end }}
{{ end }}
{{ range $i, $left := $singles }}
  {{ range after (add $i 1) $singles }}
    {{ $doubles = $doubles | append (printf "%s%s" $left .) }}
  {{ end }}
{{ end }}
{{ return (merge $letters (dict "_singles" $singles "_doubles" $doubles)) }}
