{{ $missedFirstGuesses := 0 }}
{{ $found := slice }}

{{ $doubleMisses := partialCached "opener-double-misses" . "opener-double-misses" }}
{{ $doubleMap := dict }}
{{ range $doubleMisses }}
  {{ $doubleMap = merge $doubleMap (dict .puzzle.File.Path true) }}
{{ end }}

{{ range . }}
  {{ $wordleDate := .Date }}
  {{ $wordle := . }}
  {{ $firstGuess := index .Params.state.evaluations 0 }}

  {{ $absentLetters := 0}}
  {{ range $char := (seq 0 4) }}
    {{ if (eq "absent" (index $firstGuess $char)) }}
      {{ $absentLetters = add $absentLetters 1 }}
    {{ end }}
  {{ end }}

  {{ if (and (eq $absentLetters 5) (not (isset $doubleMap $wordle.File.Path))) }}
    {{ $missedFirstGuesses = add 1 $missedFirstGuesses }}
    {{ $found = $found | append (slice (dict "date" $wordleDate "puzzle" $wordle)) }}
  {{ end }}

{{ end }}
{{ return $found }}
