{{ $missedFirstGuesses := 0 }}
{{ $found := slice }}

{{ range . }}
  {{ $wordleDate := .Date }}
  {{ $wordle := . }}
  {{ $firstGuess := index .Params.state.evaluations 0 }}

  {{ $absentLetters := 0}}
  {{ range $char := (seq 0 4) }}
    {{ if (eq "absent" (index $firstGuess $char)) }}
      {{ $absentLetters = add $absentLetters 1 }}
    {{ end }}
  {{ end }}

  {{ $absentLettersTwo := 0 }}
  {{ $turns := partialCached "guess-count" . .File.Path }}
  {{ if gt $turns 1 }}
    {{ $secondGuess := index .Params.state.evaluations 1 }}
    {{ range $char := (seq 0 4) }}
      {{ if (eq "absent" (index $secondGuess $char)) }}
        {{ $absentLettersTwo = add $absentLettersTwo 1 }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if (and (eq $absentLetters 5) (ne $absentLettersTwo 5)) }}
    {{ $missedFirstGuesses = add 1 $missedFirstGuesses }}
    {{ $found = $found | append (slice (dict "date" $wordleDate "puzzle" $wordle)) }}
  {{ end }}

{{ end }}
{{ return $found }}
