{{ $guessCount := partialCached "guess-count" . .File.Path }}
{{ $share := print "Wordle " (index .Params.puzzles 0) " " $guessCount "/6" (cond (eq .Params.state.hardMode true) "*" "") "\n" }}
{{ $share = print $share "Day " ( .Date.Format "2006-01-02" ) "\n" }}
{{ $prevScore := 0 }}
{{ range $g, $guess := .Params.state.boardState }}
  {{ $row := "" }}
  {{ $rowScore := 0 }}

  {{ range $c, $char := split $guess "" }}
    {{ $eval := index $.Params.state.evaluations $g $c }}
    {{ if eq $eval "correct" }}
      {{ $row = print $row "🟩" }}
      {{ $rowScore = add $rowScore 2 }}
    {{ else if eq $eval "present" }}
      {{ $row = print $row "🟨" }}
      {{ $rowScore = add $rowScore 1 }}
    {{ else }}
      {{ $row = print $row "⬛️" }}
    {{ end }}
  {{ end }}
  {{ if not (eq $guess "") }}
    {{ $row = print $row " " $guess "\n" }}
    {{ $share = print $share $row }}
  {{ end }}
  {{ $prevScore = $rowScore }}

{{ end }}
{{ return $share }}
