{{ define "main" }}

<h1>{{ .Site.Title }}</h1>


<blockquote>
  ❗️ ⛔️ Note: Spoilers have a visual warning. You need to opt in twice to view.
</blockquote>

{{ $wordles := where .Site.RegularPages "Section" "w" }}
{{ $wins := where $wordles "Params.state.gameStatus" "WIN" }}
{{ $losses := where $wordles "Params.state.gameStatus" "FAIL"}}
{{ $nyt_puzzle_count := 2309 }}
{{ $nyt_valid_word_count := 10663 }}

<div>🧩 Wordles Played: <strong><a href="{{ with .Site.GetPage "section" "w" }}{{ .RelPermalink }}{{ end }}">{{ len $wordles }}</a></strong></div>
{{ with .Site.GetPage "/puzzles" }}
  <div>🧩 Puzzle Numbers Played: <strong><a href="{{ .RelPermalink }}">{{ len .Pages }}</a></strong></div>
{{ end }}
{{ with .Site.GetPage "/hashes" }}
  <div>🧩 Puzzle Hashes Played: <strong><a href="{{ .RelPermalink }}">{{ len .Pages }}</a></strong></div>
{{ end }}
{{ with .Site.GetPage "/shifts" }}
  <div>🧩 Puzzle Solutions Played: <strong><a href="{{ .RelPermalink }}">{{ len .Pages }}</a></strong></div>
{{ end }}
<div>🧩 Win Pct: <strong>{{ lang.NumFmt 3 (div (float (len $wins)) (len $wordles)) }} ({{ len $wins }}-{{ len $losses }})</strong></div>

{{ $total_guesses := 0}}
{{ range $wordles }}
  {{ $guesses := partial "guess-count" . }}
  {{ $guesses = cond (eq $guesses "X") 6 $guesses }}
  {{ $total_guesses = add $total_guesses $guesses }}
{{ end }}
<div>🧩 Total Guesses: <strong><a href="{{ with .Site.GetPage "guesses" }}{{ .RelPermalink }}{{ end }}">{{ $total_guesses }}</a></strong></div>
<div>🧩 Guesses per Puzzle:  <strong>{{ lang.NumFmt 2 (div (float $total_guesses) (len $wordles)) }}</strong></div>
<div>🧩 Distinct Words Guessed: <strong><a href="{{ with .Site.GetPage "words" }}{{ .RelPermalink }}{{ end }}">{{ len .Site.Taxonomies.words }}</a></strong></div>

<blockquote>
  💡 <a href="{{ with .Site.GetPage "a/how-it-works" }}{{ .RelPermalink }}{{ end }}">How Does This Website Work?</a>
</blockquote>

<h2>🕰 Recent Puzzles</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Puzzle</th>
    <th>Turns</th>
    <th>Score</th>
  </tr>

  {{ range first 5 $wordles }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ .Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .RelPermalink }}">{{ index .Params.puzzles 0 }}</a></td>
      <td><a href="{{ .RelPermalink }}">{{ partial "guess-count.html" . }}{{- cond (eq .Params.state.hardMode true) "*" "" -}}</a></td>
      <td><a href="{{ .RelPermalink }}">{{ partial "puzzle-score.html" . }}</a></td>
    </tr>

  {{ end }}
</table>

{{ $activeContest := false }}
{{range $name, $taxonomy := .Site.Taxonomies.contests}}
  {{ with $.Site.GetPage (printf "/contests/%s" $name) }}
    {{ if .Params.active }}
      {{ $activeContest = .}}
    {{ end }}
  {{ end }}
{{end}}

{{ with $activeContest }}
<blockquote>
  ⚔️ Active Contest: <a href={{ .RelPermalink }} title="Currently active contest">{{ .LinkTitle }}</a>
</blockquote>
{{ end }}

<h2>🎯 Guess Distribution</h2>
<table>
  <tr>
    <th>Guesses</th>
    <th># of Puzzles</th>
    <th>Pct of Total</th>
    <th>Distinct Hashes</th>
    <th>Possible Hashes</th>
  </tr>

{{ $guessReports := slice nil "solve-in-one.md" "solve-in-two.md" "solve-in-three.md" "solve-in-four.md" "solve-in-five.md" "solve-in-six.md"}}

{{ $lettersPerGuess := 5 }}
{{ $outcomesPerLetter := slice "absent" "present" "correct" }}
{{ range $guesses := seq 1 6 }}
  {{ $nonSolvingGuesses := sub $guesses 1 }}
  {{ $totalPermutations := math.Pow (len $outcomesPerLetter) (mul $nonSolvingGuesses $lettersPerGuess) }}
  {{ $puzzlePages := where $wins "Params.state.rowIndex" $guesses }}
  {{ $puzzles := len $puzzlePages }}
  <tr>
    <td>{{ $guesses }}</td>
    <td><a href="{{ with $.Site.GetPage (index $guessReports $guesses) }}{{ .RelPermalink }}{{ end }}">{{ $puzzles }}</a></td>
    <td>{{ lang.NumFmt 2 (mul (div (float $puzzles) (len $wordles)) 100) }}%</td>
    <td>
      {{ if gt $puzzles 0 }}
        {{ $byHash := partialCached "puzzles-by-hash" $puzzlePages (string $guesses) }}
        {{ len $byHash }} 
      {{ else }}
        {{ $puzzles }}
      {{ end }}
    </td>
    <td>{{ lang.NumFmt 0 $totalPermutations }}</td>
  </tr>
{{ end }}

<tr>
  <td>Loss</td>
  <td><a href="{{ with $.Site.GetPage "losses" }}{{ .RelPermalink }}{{ end }}">{{ len $losses }}</a></td>
  <td>{{ lang.NumFmt 2 (mul (div (float (len $losses)) (len $wordles)) 100) }}%</td>
  <td>{{ len (partialCached "puzzles-by-hash" $losses "losses") }}</td>
  <td>Many...</td>
</tr>
</table>

<h2>🦄 Rarities</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Pct of Total</th>
  </tr>

{{ $homoGuessesOnly := partial "homo-guesses-only" $wordles }}
{{ with .Site.GetPage "homogenous-guesses-only.md" }}
  <tr>
    <td><a href="{{ .RelPermalink }}">Homogenous Guesses Only</a></td>
    <td>
      {{ lang.NumFmt 2 (mul (div (float (len $homoGuessesOnly)) (len $wordles)) 100) }}% (<a href="{{ .RelPermalink }}">{{ len $homoGuessesOnly }}</a> / {{ len $wordles }})
    </td>
  </tr>
{{ end }}

{{ $openerMisses := partial "opener-misses" $wordles }}
{{ with .Site.GetPage "opener-misses.md" }}
  <tr>
    <td><a href="{{ .RelPermalink }}">Opener Misses</a></td>
    <td>
      {{ lang.NumFmt 2 (mul (div (float (len $openerMisses)) (len $wordles)) 100) }}% (<a href="{{ .RelPermalink }}">{{ len $openerMisses }}</a> / {{ len $wordles }})
    </td>
  </tr>
{{ end }}

{{ $openerDoubleMisses := partial "opener-double-misses" $wordles }}
{{ with .Site.GetPage "opener-double-misses.md" }}
  <tr>
    <td><a href="{{ .RelPermalink }}">Opener Double Misses</a></td>
    <td>
      {{ lang.NumFmt 2 (mul (div (float (len $openerDoubleMisses)) (len $wordles)) 100) }}% (<a href="{{ .RelPermalink }}">{{ len $openerDoubleMisses }}</a> / {{ len $wordles }})
    </td>
  </tr>
{{ end }}

{{ $noYellow := partial "no-yellow-tiles.html" (where .Site.RegularPages "Section" "w") }}
{{ with .Site.GetPage "no-yellow-tiles.md" }}
  <tr>
    <td><a href="{{ .RelPermalink }}">No Yellow Tiles</a></td>
    <td>
      {{ lang.NumFmt 2 (mul (div (float (len $noYellow)) (len $wordles)) 100) }}% (<a href="{{ .RelPermalink }}">{{ len $noYellow }}</a> / {{ len $wordles }})
    </td>
  </tr>

{{ end }}

{{ with .Site.GetPage "no-green-before-solve.md" }}
  {{ $noGreenBeforeSolve := partialCached "no-green-before-solve.html" (where .Site.RegularPages "Section" "w") }}
  <tr>
    <td><a href="{{ .RelPermalink }}">No Green Tiles Prior to Solving</a></td>
    <td>
      {{ lang.NumFmt 2 (mul (div (float (len $noGreenBeforeSolve)) (len $wordles)) 100) }}% (<a href="{{ .RelPermalink }}">{{ len $noGreenBeforeSolve }}</a> / {{ len $wordles }})
    </td>
  </tr>
{{ end }}
{{ with .Site.GetPage "anagrams.md" }}
  {{ $anagrams := partial "anagrams.html" (where .Site.RegularPages "Section" "w") }}
  <tr>
    <td><a href="{{ .RelPermalink }}">Anagrams</a></td>
    <td>
      {{ lang.NumFmt 2 (mul (div (float (len $anagrams)) (len $wordles)) 100) }}% (<a href="{{ .RelPermalink }}">{{ len $anagrams }}</a> / {{ len $wordles }})
    </td>
  </tr>
{{ end }}
{{ with .Site.GetPage "symmetrical.md" }}
  {{ $symmetrical := partial "symmetrical.html" (where .Site.RegularPages "Section" "w") }}
  <tr>
    <td><a href="{{ .RelPermalink }}">Symmetrical Puzzles</a></td>
    <td>
      {{ lang.NumFmt 2 (mul (div (float (len $symmetrical)) (len $wordles)) 100) }}% (<a href="{{ .RelPermalink }}">{{ len $symmetrical }}</a> / {{ len $wordles }})
    </td>
  </tr>
{{ end }}

</table>

{{ with .Site.GetPage "collections.md" }}
  <div>🃏 See also: <a href="{{ .RelPermalink }}">Collections</a></div>
{{ end }}

{{ range $wordles }}
  {{ $score := partial "puzzle-score" . }}
  {{ $.Scratch.Add "scored" (slice (dict "page" . "score" $score)) }}
{{ end }}

<h2>⬇️ Low (😄) Scores</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Puzzle</th>
    <th>Turns</th>
    <th>Score</th>
  </tr>

  {{ range first 10 (sort ($.Scratch.Get "scored") ".score" "asc") }}
    <tr>
      <td><a href="{{ .page.RelPermalink }}">{{ .page.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ index .page.Params.puzzles 0 }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "guess-count.html" .page }}{{- cond (eq .page.Params.state.hardMode true) "*" "" -}}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ .score }}</a></td>
    </tr>
  {{ end }}
</table>

<h2>⬆️ High (😖) Scores</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Puzzle</th>
    <th>Turns</th>
    <th>Score</th>
  </tr>

  {{ range first 10 (sort ($.Scratch.Get "scored") ".score" "desc") }}
    <tr>
      <td><a href="{{ .page.RelPermalink }}">{{ .page.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ index .page.Params.puzzles 0 }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "guess-count.html" .page }}{{- cond (eq .page.Params.state.hardMode true) "*" "" -}}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ .score }}</a></td>
    </tr>
  {{ end }}
</table>

<h2>⛳️ Opener Usage</h2>
<table>
  <tr>
    <th>Word</th>
    <th>Pct</th>
  </tr>

  {{ $wordCounts := index (partial "openers.html" $wordles) "wordCounts" }}

  {{ $minToPrint := 10 }}
  {{ range sort $wordCounts "count" "desc" }}
    {{ $word := .word }}
    {{ $count := .count }}
    {{ if gt .count $minToPrint }}
      {{ with $.Site.GetPage (printf "/words/%s" $word) }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ $word }}</a></td>
        <td>{{ mul (div (float $count) (len $wordles)) 100 | lang.FormatNumber 2 }}% ({{ $count }} / {{(len $wordles)}})</td>
      </tr>
      {{ end }}
    {{ end }}
  {{ end }}
  {{ with .Site.GetPage "openers.md" }}
    <tr><td colspan="2"><a href="{{ .RelPermalink }}">🚪 See All Openers</a></td></tr>
  {{ end }}
</table>

<h2>🗓 Monthly Trends</h2>
<table>
  <tr>
    <th>Month</th>
    <th>Puzzles Played</th>
    <th>Avg # Guesses</th>
    <th>Avg Score</th>
  </tr>
  {{ range $wordles.GroupByDate "2006 January" }}
    {{ $guessSum := 0 }}
    {{ $scoreSum := 0 }}

    {{ range .Pages }}
      {{ $guesses := partial "guess-count" . }}
      {{ $guesses = cond (eq $guesses "X") 6 $guesses }}
      {{ $guessSum = add $guessSum $guesses }}

      {{ $score := partial "puzzle-score" . }}
      {{ $scoreSum = add $scoreSum $score }}
    {{ end }}

    <tr>
      <td>{{ .Key }}</td>
      <td>{{ len .Pages }}</td>
      <td>{{ lang.NumFmt 2 (div (float $guessSum) (len .Pages)) }} ({{ $guessSum }})</td>
      <td>{{ lang.NumFmt 1 (div (float $scoreSum) (len .Pages)) }} ({{ $scoreSum }})</td>

    </tr>
  {{ end }}
</table>

<h2>⛓ Top Streaks, Consec <abbr title="Missing day breaks a streak">Days Played</abbr></h2>

{{ $streaks := partial "streak-days-played.html" $wordles }}

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Length</th>
    <th></th>
  </tr>

  {{ range first 5 (sort $streaks "length" "desc") }}
    <tr>
      <td><a href="{{ .start.RelPermalink }}">{{ .start.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .end.RelPermalink }}">{{ .end.Date.Format "Jan 2, 2006" }}</a></td>
      <td>{{ .length }}</td>
      <td>{{ .note | default ""}}</td>
    </tr>
  {{ end }}
</table>

<h2>⛓ Top Streaks, Consec <abbr title="Missing a day or a loss breaks a streak">Days Played and Won</abbr></h2>

{{ $streaks := partial "streak-days-played-won.html" $wordles }}

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Length</th>
    <th></th>
  </tr>
  {{ range first 5 (sort $streaks "length" "desc") }}
    <tr>
      <td><a href="{{ .start.RelPermalink }}">{{ .start.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .end.RelPermalink }}">{{ .end.Date.Format "Jan 2, 2006" }}</a></td>
      <td>{{ .length }}</td>
      <td>{{ .note | default ""}}</td>
    </tr>
  {{ end }}
</table>

<h2>⛓ Top Streaks, Consec <abbr title="Only losses break streaks, not missed days">Puzzles Won</abbr></h2>

{{ $streaks := partial "streak-wins.html" $wordles }}

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Length</th>
    <th></th>
  </tr>

  {{ range first 5 (sort $streaks "length" "desc") }}
    <tr>
      <td><a href="{{ .start.RelPermalink }}">{{ .start.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .end.RelPermalink }}">{{ .end.Date.Format "Jan 2, 2006" }}</a></td>
      <td>{{ .length }}</td>
      <td>{{ .note | default ""}}</td>
    </tr>
  {{ end }}
</table>
<!-- end of streaks -->

{{ range $wordles }}
  {{ $tileCounts := partial "tile-counts" . }}
  {{ $.Scratch.Add "byTileCount" (slice (dict "page" . "greenTiles" (index $tileCounts "greens") "yellowTiles" (index $tileCounts "yellows") "blackTiles" (index $tileCounts "blacks"))) }}
{{ end }}

<h2>⬛️ Most Black Tiles in a Puzzle</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Puzzle</th>
    <th>Tiles</th>
    <th>Turns</th>
    <th>Score</th>
  </tr>

  {{ range first 5 (sort ($.Scratch.Get "byTileCount") ".blackTiles" "desc") }}
    <tr>
      <td><a href="{{ .page.RelPermalink }}">{{ .page.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ index .page.Params.puzzles 0 }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ .blackTiles }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "guess-count.html" .page }}{{- cond (eq .page.Params.state.hardMode true) "*" "" -}}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "puzzle-score" .page }}</a></td>
    </tr>
  {{ end }}
</table>

<h2>🟨 Most Yellow Tiles in a Puzzle</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Puzzle</th>
    <th>Tiles</th>
    <th>Turns</th>
    <th>Score</th>
  </tr>

  {{ range first 5 (sort ($.Scratch.Get "byTileCount") ".yellowTiles" "desc") }}
    <tr>
      <td><a href="{{ .page.RelPermalink }}">{{ .page.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ index .page.Params.puzzles 0 }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ .yellowTiles }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "guess-count.html" .page }}{{- cond (eq .page.Params.state.hardMode true) "*" "" -}}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "puzzle-score" .page }}</a></td>
    </tr>
  {{ end }}
</table>

<h2>🟩 Most Green Tiles in a Puzzle</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Puzzle</th>
    <th>Tiles</th>
    <th>Turns</th>
    <th>Score</th>
  </tr>

  {{ range first 5 (sort ($.Scratch.Get "byTileCount") ".greenTiles" "desc") }}
    <tr>
      <td><a href="{{ .page.RelPermalink }}">{{ .page.Date.Format "Jan 2, 2006" }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ index .page.Params.puzzles 0 }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ .greenTiles }}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "guess-count.html" .page }}{{- cond (eq .page.Params.state.hardMode true) "*" "" -}}</a></td>
      <td><a href="{{ .page.RelPermalink }}">{{ partial "puzzle-score" .page }}</a></td>
    </tr>
  {{ end }}
</table>

<h2>📒 Articles</h2>
<ul>
  {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "a") }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> on {{ .Date.Format "Jan 2, 2006" }}</li>
  {{ end }}
</ul>

<h2>🧰 Tools</h2>
<ul>
  <li><a href="/tools/enhance">Emoji Share Enhancer</a></li>
  <li><a href="/tools/">Bookmarklets</a></li>
</ul>

<h2>⚔️ Contests</h2>
<ul>
  {{range $name, $taxonomy := .Site.Taxonomies.contests}}
    {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/contests/%s" $name) }}
    <li>
      <a href={{ .RelPermalink }} title="All pages with tag {{$name}}">{{ .LinkTitle }}</a>
      <sup>{{ $cnt }}</sup>
    </li>
    {{end}}
  {{end}}
</ul>

<h2>🏷 Tags</h2>
<ul>
{{range $name, $taxonomy := .Site.Taxonomies.tags}} 
  {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
  <li>
    <a href={{ .RelPermalink }} title="All pages with tag {{$name}}">{{ .LinkTitle }}</a>
    <sup>{{ $cnt }}</sup>
  </li>
  {{end}}
{{end}}
</ul>

<h2>✅ Rules / Data Tests</h2>
<ul>
{{ range (where .Site.RegularPages "Section" "r") }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>

<a href="index.xml">RSS</a> | <a href="https://github.com/tphummel/wordle">GitHub</a>
{{ end }}
