{{ define "main" }}

<h1>{{ .Site.Title }}</h1>


<blockquote>
  ❗️⛔️ Note: You will not see puzzle solution spoilers anywhere on this site unless you opt in on an individual puzzle page by expanding the Guesses section.
</blockquote>

{{ $wordles := where .Site.RegularPages "Section" "w" }}
{{ $wins := where $wordles "Params.state.gameStatus" "WIN" }}
{{ $losses := where $wordles "Params.state.gameStatus" "FAIL"}}
{{ $nyt_puzzle_count := 2309 }}
{{ $nyt_valid_word_count := 10638 }}

<div>🧩 Puzzles Played: <strong><a href="{{ with .Site.GetPage "section" "w" }}{{ .RelPermalink }}{{ end }}">{{ len $wordles }}</a></strong></div>
<div>🧩 Win Pct: <strong>{{ lang.NumFmt 3 (div (float (len $wins)) (len $wordles)) }} ({{ len $wins }}-{{ len $losses }})</strong></div>
<div>🧩 Pct of Total Puzzles Played: <strong>{{ lang.NumFmt 2 (mul (div (float (len $wordles)) ($nyt_puzzle_count)) 100) }}% ({{ lang.NumFmt 0 (len $wordles) }}/{{ lang.NumFmt 0 $nyt_puzzle_count }})</strong></div>

{{ $total_guesses := 0}}
{{ range $wordles }}
  {{ $guesses := partial "guess-count" . }}
  {{ $guesses = cond (eq $guesses "X") 6 $guesses }}
  {{ $total_guesses = add $total_guesses $guesses }}
{{ end }}
<div>🧩 Total Guesses: <strong>{{ $total_guesses }}</strong></div>
<div>🧩 Guesses per Puzzle:  <strong>{{ lang.NumFmt 2 (div (float $total_guesses) (len $wordles)) }}</strong></div>
<div>🧩 Distinct Words Guessed: <strong><a href="{{ with .Site.GetPage "words" }}{{ .RelPermalink }}{{ end }}">{{ len .Site.Taxonomies.words }}</a></strong></div>
<div>🧩 Pct of Distinct Valid Words Guessed: <strong>{{ lang.NumFmt 2 (mul (div (float (len .Site.Taxonomies.words)) ($nyt_valid_word_count)) 100) }}% ({{ lang.NumFmt 0 (len .Site.Taxonomies.words) }}/{{ lang.NumFmt 0 ($nyt_valid_word_count) }})</strong></div>

<h2>🎯 Guess Distribution</h2>
<table>
  <tr>
    <th>Guesses</th>
    <th># of Puzzles</th>
    <th>Pct of Total</th>
  </tr>

{{ $guessReports := slice nil "solve-in-one.md" "solve-in-two.md" "solve-in-three.md" "solve-in-four.md" "solve-in-five.md" "solve-in-six.md"}}

{{ range $guesses := seq 1 6 }}
  {{ $puzzles := len (where $wins "Params.state.rowIndex" $guesses) }}
  <tr>
    <td>{{ $guesses }}</td>
    <td><a href="{{ with $.Site.GetPage (index $guessReports $guesses) }}{{ .RelPermalink }}{{ end }}">{{ $puzzles }}</a></td>
    <td>{{ lang.NumFmt 2 (mul (div (float $puzzles) (len $wordles)) 100) }}%</td>
  </tr>
{{ end }}

<tr>
  <td>Loss</td>
  <td><a href="{{ with $.Site.GetPage "losses" }}{{ .RelPermalink }}{{ end }}">{{ len $losses }}</a></td>
  <td>{{ lang.NumFmt 2 (mul (div (float (len $losses)) (len $wordles)) 100) }}%</td>
</tr>
</table>

{{ $missedFirstGuesses := 0 }}
{{ $missedFirstTwoGuesses := 0 }}

{{ range $wordles }}
  {{ $firstGuess := index .Params.state.evaluations 0 }}

  {{ $absentLetters := 0}}
  {{ range $char := (seq 0 4) }}
    {{ if (eq "absent" (index $firstGuess $char)) }}
      {{ $absentLetters = add $absentLetters 1 }}
    {{ end }}
  {{ end }}

  {{ if (eq $absentLetters 5) }}
    {{ $missedFirstGuesses = add 1 $missedFirstGuesses }}
  {{ end }}

  {{ $secondGuess := index .Params.state.evaluations 1 }}
  {{ $absentLettersTwo := 0}}
  {{ range $char := (seq 0 4) }}
    {{ if (eq "absent" (index $secondGuess $char)) }}
      {{ $absentLettersTwo = add $absentLettersTwo 1 }}
    {{ end }}
  {{ end }}

  {{ if (and (eq $absentLetters 5) (eq $absentLettersTwo 5)) }}
    {{ $missedFirstTwoGuesses = add 1 $missedFirstTwoGuesses }}
  {{ end }}

{{ end }}
{{ with .Site.GetPage "opener-misses.md" }}
  <div>🧩 Opener Misses: <strong><a href="{{ .RelPermalink }}">{{ $missedFirstGuesses }}</a></strong></div>
{{ end }}

{{ with .Site.GetPage "opener-double-misses.md" }}
  <div>🧩 Opener Double Misses: <strong><a href="{{ .RelPermalink }}">{{ $missedFirstTwoGuesses }}</a></strong></div>
{{ end }}

<h2>🕰 Recent Puzzles</h2>
<table>
  <tr>
    <th>Puzzle</th>
    <th>Date</th>
    <th>Score</th>
  </tr>

  {{ range first 5 $wordles }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
      <td>{{ .Date.Format "January 2, 2006" }}</td>
      <td>{{ partial "puzzle-score.html" . }}</td>
    </tr>

  {{ end }}
</table>

{{ range $wordles }}
  {{ $score := partial "puzzle-score" . }}
  {{ $.Scratch.Add "scored" (slice (dict "page" . "score" $score)) }}
{{ end }}

<h2>⬇️ Low (😄) Scores</h2>
<table>
  <tr>
    <th>Puzzle</th>
    <th>Date</th>
    <th>Score</th>
  </tr>

  {{ range first 5 (sort ($.Scratch.Get "scored") ".score" "asc") }}
    <tr>
      <td><a href="{{ .page.RelPermalink }}">{{ .page.Title }}</a></td>
      <td>{{ .page.Date.Format "January 2, 2006" }}</td>
      <td>{{ .score }}</td>
    </tr>
  {{ end }}
</table>

<h2>⬆️ High (😖) Scores</h2>
<table>
  <tr>
    <th>Puzzle</th>
    <th>Date</th>
    <th>Score</th>
  </tr>

  {{ range first 5 (sort ($.Scratch.Get "scored") ".score" "desc") }}
    <tr>
      <td><a href="{{ .page.RelPermalink }}">{{ .page.Title }}</a></td>
      <td>{{ .page.Date.Format "January 2, 2006" }}</td>
      <td>{{ .score }}</td>
    </tr>
  {{ end }}
</table>

<h2>⛓ Top Streaks, Consec Days Played</h2>
{{ $thisW := dict }}
{{ $lastW := dict }}
{{ $active := slice }}
{{ $streaks := slice }}

{{ range $i, $wordle := $wordles.ByDate }}
  {{ $thisW = $wordle }}

  {{ if (and $thisW.Date $lastW.Date) }}
    <!-- we're in the middle of the list somewhere -->
    <!-- get puzzle dates with time of day removed -->
    {{ $thisDay := time ($thisW.Date.Format "2006-01-02") }}
    {{ $lastDay := time ($lastW.Date.Format "2006-01-02") }}

    {{ $isConsecDays := eq $thisDay ($lastDay.AddDate 0 0 1) }}
    {{ if $isConsecDays }}
      <!-- extend active streak -->
      {{ $active = $active | append (slice $thisW) }}
    {{ else }}
      <!-- streak broken - add finished streak to streaks list, reset active streak slice -->
      {{ $start := (index (first 1 $active) 0) }}
      {{ $end := (index (last 1 $active) 0) }}
      {{ $streak := dict "length" (len $active) "start" $start "end" $end }}
      {{ $streaks = $streaks | append (slice $streak) }}

      {{ $active = slice }}
    {{ end }}
  {{ else }}
    <!-- this is the first wordle in the list. streak extends -->
    {{ $active = $active | append (slice $thisW )}}
  {{ end }}

  {{ $lastW = $thisW }}
{{ end }}

<!-- handle the active streak -->
{{ if gt (len $active) 0 }}
  {{ $streak := dict "length" (len $active) "start" (index (first 1 $active) 0) "end" (index (last 1 $active) 0) "note" "Active 🚧" }}
  {{ $streaks = $streaks | append (slice $streak) }}
{{ end }}

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Length</th>
    <th></th>
  </tr>

  {{ range first 5 (sort $streaks "length" "desc") }}
    <tr>
      <td><a href="{{ .start.RelPermalink }}">{{ .start.Date.Format "January 2, 2006" }}</a></td>
      <td><a href="{{ .end.RelPermalink }}">{{ .end.Date.Format "January 2, 2006" }}</a></td>
      <td>{{ .length }}</td>
      <td>{{ .note | default ""}}</td>
    </tr>
  {{ end }}
</table>

<h2>⛓ Top Streaks, Consec Days Won</h2>
{{ $thisW := dict }}
{{ $lastW := dict }}
{{ $active := slice }}
{{ $streaks := slice }}

{{ range $i, $wordle := $wordles.ByDate }}
  {{ $thisW = $wordle }}

  {{ if (and $thisW.Date $lastW.Date) }}
    <!-- we're in the middle of the list somewhere -->
    <!-- get puzzle dates with time of day removed -->
    {{ $thisDay := time ($thisW.Date.Format "2006-01-02") }}
    {{ $lastDay := time ($lastW.Date.Format "2006-01-02") }}

    {{ $isConsecDays := eq $thisDay ($lastDay.AddDate 0 0 1) }}
    {{ $isWin := eq ($thisW.Params.state.gameStatus | lower) "win" }}
    {{ if (and $isConsecDays $isWin) }}
      <!-- extend active streak -->
      {{ $active = $active | append (slice $thisW) }}
    {{ else }}
      <!-- streak broken - add finished streak to streaks list, reset active streak slice -->
      {{ $streak := dict "length" (len $active) "start" (index (first 1 $active) 0) "end" (index (last 1 $active) 0) }}
      {{ $streaks = $streaks | append (slice $streak) }}
      {{ $active = slice }}
    {{ end }}
  {{ else }}
    <!-- this is the first wordle in the list. streak extends -->
    {{ $active = $active | append (slice $thisW )}}
  {{ end }}

  {{ $lastW = $thisW }}
{{ end }}

<!-- handle the active streak -->
{{ if gt (len $active) 0 }}
  {{ $streak := dict "length" (len $active) "start" (index (first 1 $active) 0) "end" (index (last 1 $active) 0) "note" "Active 🚧" }}
  {{ $streaks = $streaks | append (slice $streak) }}
{{ end }}

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Length</th>
    <th></th>
  </tr>

  {{ range first 5 (sort $streaks "length" "desc") }}
    <tr>
      <td><a href="{{ .start.RelPermalink }}">{{ .start.Date.Format "January 2, 2006" }}</a></td>
      <td><a href="{{ .end.RelPermalink }}">{{ .end.Date.Format "January 2, 2006" }}</a></td>
      <td>{{ .length }}</td>
      <td>{{ .note | default ""}}</td>
    </tr>
  {{ end }}
</table>
<!-- end of streaks -->

<h2>⛳️ Opener Usage</h2>
<table>
  <tr>
    <th>Word</th>
    <th>Count</th>
  </tr>

  {{ $byFirst := dict }}
  {{ range $wordles }}
    {{ $score := partial "puzzle-score" . }}
    {{ $first := index .Params.state.boardState 0 }}
    {{ $date := .Date.Format "January 2, 2006" }}

    {{ if not (isset $byFirst $first) }}
      {{ $init := dict $first 0 }}
      {{ $byFirst = merge $byFirst $init }}
    {{ end }}

    {{ $prev := index $byFirst $first }}

    {{ $byFirst = merge $byFirst (dict $first (add 1 $prev)) }}
  {{ end }}

  {{ $wordCounts := slice }}
  {{ range $word, $count := $byFirst }}
    {{ $wordCounts = $wordCounts | append (slice (dict "word" $word "count" $count)) }}
  {{ end }}

  {{ $minToPrint := 3 }}
  {{ range sort $wordCounts "count" "desc" }}
    {{ if gt .count $minToPrint }}
    <tr>
      <td>{{ .word }}</td>
      <td>{{ .count }}</td>
    </tr>
    {{ end }}
  {{ end }}
</table>

<h2>🧰 Tools</h2>
<ul>
  <li><a href="/tools/">Bookmarklets</a></li>
</ul>

<h2>📒 Articles</h2>
<ul>
  <li>
  {{ with .Site.GetPage "a/savor.md" }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a> on {{ .Date.Format "January 2, 2006" }}
  {{ end }}
  </li>
</ul>

<h2>🏷 Tags</h2>
<ul>
{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
  <li>
    <a href={{ .RelPermalink }} title="All pages with tag {{$name}}">{{ $name }}</a>
    <sup>{{ $cnt }}</sup>
  </li>
  {{end}}
{{end}}
</ul>

<h2>✅ Rules / Data Tests</h2>
<ul>
{{ range (where .Site.RegularPages "Section" "r") }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>


<a href="index.xml">RSS</a> | <a href="https://github.com/tphummel/wordle">GitHub</a>
{{ end }}
