{{ define "main" }}

<h1>{{ .Site.Title }}</h1>


{{ $wordles := where .Site.RegularPages "Section" "w" }}
{{ $wins := where $wordles "Params.state.gameStatus" "WIN" }}
{{ $losses := where $wordles "Params.state.gameStatus" "FAIL"}}

<div>Total: <a href="{{ with .Site.GetPage "section" "w" }}{{ .Permalink }}{{ end }}">{{ len $wordles }}</a> (W: {{ len $wins }}, L: {{ len $losses }}) </div>
<p><a href="{{ with .Site.GetPage "section" "w" }}{{ .Permalink }}{{ end }}">🧩 All Puzzles</a></p>

<h2>Guess Distribution</h2>

<table>
  <tr>
    <td>Guesses</td>
    <td># of Puzzles</td>
    <td>Pct of Total</td>
  </tr>

{{ range $guesses := seq 1 6 }}
  {{ $puzzles := len (where $wins "Params.state.rowIndex" $guesses) }}
  <tr>
    <td>{{ $guesses }}</td>
    <td>{{ $puzzles }}</td>
    <td>{{ lang.NumFmt 2 (mul (div (float $puzzles) (len $wordles)) 100) }}%</td>
  </tr>
{{ end }}

<tr>
  <td>Loss</td>
  <td>{{ len $losses }} </td>
  <td>{{ lang.NumFmt 2 (mul (div (float (len $losses)) (len $wordles)) 100) }}%</td>
</tr>


</table>

<h2>Recent</h2>

<table>
  <tr>
    <td>Puzzle</td>
    <td>Date</td>
    <td>Score</td>
  </tr>

  {{ range first 5 $wordles }}
    <tr>
      <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
      <td>{{ .Date.Local.Format "January 2, 2006" }}</td>
      <td>{{ partial "puzzle-score.html" . }}</td>
    </tr>

  {{ end }}
</table>

{{ range $wordles }}
  {{ $score := partial "puzzle-score" . }}
  {{ $.Scratch.Add "scored" (slice (dict "page" . "score" $score)) }}
{{ end }}

<h2>Low Scores</h2>

<table>
  <tr>
    <td>Puzzle</td>
    <td>Date</td>
    <td>Score</td>
  </tr>

  {{ range first 5 (sort ($.Scratch.Get "scored") ".score" "asc") }}
    <tr>
      <td><a href="{{ .page.Permalink }}">{{ .page.Title }}</a></td>
      <td>{{ .page.Date.Local.Format "January 2, 2006" }}</td>
      <td>{{ .score }}</td>
    </tr>
  {{ end }}
</table>

<h2>High Scores</h2>

<table>
  <tr>
    <td>Puzzle</td>
    <td>Date</td>
    <td>Score</td>
  </tr>

  {{ range first 5 (sort ($.Scratch.Get "scored") ".score" "desc") }}
    <tr>
      <td><a href="{{ .page.Permalink }}">{{ .page.Title }}</a></td>
      <td>{{ .page.Date.Local.Format "January 2, 2006" }}</td>
      <td>{{ .score }}</td>
    </tr>
  {{ end }}
</table>

<h2>Openers</h2>

<table>
  <tr>
    <td>Word</td>
    <td>Count</td>
  </tr>

  {{ $byFirst := dict }}
  {{ range $wordles }}
    {{ $score := partial "puzzle-score" . }}
    {{ $first := index .Params.state.boardState 0 }}
    {{ $date := .Date.Local.Format "January 2, 2006" }}

    {{ if not (isset $byFirst $first) }}
      {{ $init := dict $first 0 }}
      {{ $byFirst = merge $byFirst $init }}
    {{ end }}

    {{ $prev := index $byFirst $first }}

    {{ $byFirst = merge $byFirst (dict $first (add 1 $prev)) }}
  {{ end }}

  {{ range $word, $count := $byFirst }}
    <tr>
      <td>{{ $word }}</td>
      <td>{{ $count }}</td>
    </tr>
  {{ end }}
</table>

<h2>Rules</h2>

<ul>
{{ range (where .Site.RegularPages "Section" "r") }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>


<a href="index.xml">rss</a>
{{ end }}
