{{ define "main" }}
<h1>{{.Title}}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

<table>
  <tr>
    <td>Contest</td>
    <td>Mode</td>
    <td>Guests</td>
    <td>🥇</td>
    <td>🥈</td>
    <td>🥉</td>
  </tr>

  {{ range .Data.Terms.Alphabetical.Reverse }}
    {{ $name := .Name }}
    {{ $starter := .Page.Params.startingWord }}
    {{ $guests := delimit .Page.Params.guests ", " | title }} 
    {{ $guestCount := len .Page.Params.guests }}
    {{ $count := .Count }}
    
    {{ $gold := "-" }}
    {{ $silver := "-"}}
    {{ $bronze := "-" }}
    {{ with .Page.Params.winners }}
      {{ $gold = cond (ge (len .) 1) (index . 0) "-" }}
      {{ $silver = cond (ge (len .) 2) (index . 1) "-" }}
      {{ $bronze = cond (ge (len .) 3) (index . 2) "-x" }}
    {{ end }}

    {{ with $.Site.GetPage (printf "/%s/%s" "contests" $name) }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ .Name }} ({{ $count }})</a></td>
      <td>
        {{ with $.Site.GetPage (printf "/%s/%s" "words" $starter) }}
          <a href="{{ .RelPermalink }}">{{ .Name }}</a>
        {{ else }}
          Free For All
        {{ end }}
      </td>
      <td>{{ $guestCount }}</td>
      <td>{{ $gold }} </td>
      <td>{{ $silver }} </td>
      <td>{{ $bronze }} </td>
    </tr>
    {{ end }}

  {{ end }}
</table>
{{ end }}
