{{ define "main" }}
<h1>{{.Title}}</h1>
<p>{{ partial "breadcrumb.html" . }}</p>
{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

{{ with $.Site.GetPage (printf "/%s/%s" "words" .Params.startingWord) }}
  <p>Starting Word: <strong><a href="{{ .RelPermalink }}">{{ .Name }}</a></strong></p>
{{ end }}
<p>Guest Players: <strong>{{ delimit .Params.guests ", " | title }}</strong></p>

<p>Puzzles Played in Contest: {{ len .Data.Pages }}</p>

<table>
  <tr>
    <th>Puzzle</th>
    <th>Tom</th>
    {{ range .Params.guests }}
      <th>{{ . | title }}</th>
    {{ end }}
  </tr>

{{ $perPlayer := dict "scoreSum" 0 "guessSum" 0 "gameCount" 0 }}
{{ $guests := .Params.guests }}
{{ $scoreboard := dict }}
{{ range $player := slice "tom" | append $guests }}
  {{ $scoreboard = merge $scoreboard (dict $player (merge (dict) $perPlayer)) }} 
{{ end }}

{{ range $puzzle := .Data.Pages }}
  <tr>
    <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
    {{ range $player := slice "tom" | append $guests }}
      {{ $before := index $scoreboard $player }}
      
      {{ $w := dict }}
      {{ if eq $player "tom" }}
        {{ $w = dict "puzzleScore" (partial "puzzle-score" $puzzle) "guessCount" (partial "guess-count" $puzzle) }}
      {{ else }}
        {{ with $puzzle.Resources.GetMatch (printf "%s.json" $player) }}
          {{ $w = .Content | transform.Unmarshal }}
        {{ end }}
      {{ end }}

      {{ $after := merge $before (dict "scoreSum" (add (index $before "scoreSum") $w.puzzleScore) "guessSum" (add (index $before "guessSum") $w.guessCount) "gameCount" (add (index $before "gameCount") 1))}}
      {{ $scoreboard = merge $scoreboard (dict $player $after) }}
      <td>
        {{ $w.puzzleScore }}
      </td>
    {{ end }}
  </tr>
{{ end }}
</table>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Guesses</th>
  </tr>
  {{ range $name, $stats := $scoreboard }}
    <tr>
      <td>{{ $name | title }}</td>
      {{ if $stats.gameCount }}
      <td>
        {{ lang.NumFmt 2 (div $stats.scoreSum $stats.gameCount) }} ({{ $stats.scoreSum }} / {{ $stats.gameCount }})
      </td>
      <td>
        {{ lang.NumFmt 2 (div $stats.guessSum $stats.gameCount) }} ({{ $stats.guessSum }} / {{ $stats.gameCount }})
      </td>
      {{ else }}
      <td>-</td><td>-</td>
      {{ end }}
    </tr>
  {{ end }}
</table>
{{ end }}
