{{ define "main" }}
<h1>{{ .Title }}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

{{ $taxonomySlug := (urlize .Data.Plural) }}
{{ $taxonomyName := humanize .Data.Plural }}
{{ $alphabetical := .Data.Terms.Alphabetical }}
{{ $ordered := sort $alphabetical "Count" "desc" }}
{{ $distinctCount := len $ordered }}
{{ $totalPossible := 243 }}
{{ $percentage := mul (div (float $distinctCount) (float $totalPossible)) 100 }}

<p>I've seen <strong>{{ $distinctCount }}</strong> of {{ $totalPossible }} possible {{ lower $taxonomyName }} patterns ({{ $percentage | lang.FormatNumber 1 }}%).</p>

<h2>List</h2>
<table>
  <tr>
    <td>First Guess</td>
    <td>{{ $taxonomyName | title }}</td>
    <td>Count</td>
    <td>First Played</td>
    <td>Last Played</td>
  </tr>

  {{ range $term := $ordered }}
    {{ $name := $term.Name }}
    {{ $count := $term.Count }}
    {{ $first := index (first 1 $term.Pages.ByDate) 0 }}
    {{ $last := index (last 1 $term.Pages.ByDate) 0 }}

    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomySlug $name) }}
    <tr>
      <td><a href="{{ .RelPermalink }}" title="{{ $name }}">{{ partialCached "first-guess-emoji.html" $first $first.File.Path }}</a></td>
      <td><a href="{{ .RelPermalink }}" title="{{ $name }}">{{ partialCached "openerhash-emoji.html" $name $name }}</a></td>
      <td>{{ $count }}</td>
      <td><a href="{{ $first.RelPermalink}}">{{ $first.Date.Format "Jan 2, 2006" }}</a></td>
      <td>{{ if gt $count 1 }}<a href="{{ $last.RelPermalink}}">{{ $last.Date.Format "Jan 2, 2006" }}</a>{{ else }}--{{ end }}</td>
    </tr>
    {{ end }}

  {{ end }}
</table>
{{ end }}
