{{ define "main" }}
<h1>{{ .Title }}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

<h2>List</h2>

{{ $alphabetical := .Data.Terms.Alphabetical }}
{{ $completed := len $alphabetical }}
<p>Completed {{ $completed }} of 243 opener hash combinations.</p>

<table>
  <tr>
    <td>Emoji</td>
    <td>Count</td>
    <td>First Played</td>
    <td>Last Played</td>
  </tr>

  {{ $ordered := sort $alphabetical "Count" "desc" }}

  {{ range $term := $ordered }}
    {{ $name := $term.Name }}
    {{ $count := $term.Count }}
    {{ $first := index (first 1 $term.Pages.ByDate) 0 }}
    {{ $last := index (last 1 $term.Pages.ByDate) 0 }}

    {{ with $.Site.GetPage (printf "/%s/%s" "openerhashes" $name) }}
    <tr>
      <td><a href="{{ .RelPermalink }}" title="{{ $name }}">{{ partialCached "first-guess-emoji.html" $first $first.File.Path }}</a></td>
      <td>{{ $count }}</td>
      <td><a href="{{ $first.RelPermalink}}">{{ $first.Date.Format "Jan 2, 2006" }}</a></td>
      <td>{{ if gt $count 1 }}<a href="{{ $last.RelPermalink}}">{{ $last.Date.Format "Jan 2, 2006" }}</a>{{ else }}--{{ end }}</td>
    </tr>
    {{ end }}

  {{ end }}
</table>
{{ end }}
