{{ define "main" }}
<h1>{{.Title}}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

<p>Usage Count: {{ len .Data.Pages }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

{{ partial "word-scorecard.html" . }}

<table>
  <tr>
    <th>Date</th>
    <th>Puzzle</th>
    <th>Guess #</th>
    <th>Before</th>
    <th>After</th>
    <th>Diff</th>
  </tr>

  {{ range .Data.Pages }}
    {{ $guessSeq := -1 }}
    {{ $before := "" }}
    {{ $beforeScore := 0 }}
    {{ $after := "" }}
    {{ $afterScore := 0 }}
    {{ $diff := "" }}

    {{ $evaluations := .Params.state.evaluations }}
    {{ range $g, $guess := .Params.state.boardState }}
      {{ if eq $guess $.Data.Term }}
        {{ $guessSeq = add $g 1 }}

        {{ if eq $g 0 }}
          <!-- opener guess -->
          {{ $before = "⬛️⬛️⬛️⬛️⬛️" }}
          {{ $beforeScore = 10 }}
        {{ else }}
          {{ $beforeEval := index $evaluations (sub $g 1) }}
          {{ range $b := $beforeEval }}
            {{- if eq $b "correct" -}}
              {{ $before = printf "%s%s" $before "🟩" }}
              {{ $beforeScore = add 0 $beforeScore }}
            {{- else if eq $b "present" -}}
              {{ $before = printf "%s%s" $before "🟨" }}
              {{ $beforeScore = add 1 $beforeScore }}
            {{- else -}}
              {{ $before = printf "%s%s" $before "⬛️" }}
              {{ $beforeScore = add 2 $beforeScore }}
            {{- end -}}
          {{ end }}
        {{ end }}

        {{ $afterEval := index $evaluations $g }}
        {{ range $a := $afterEval }}
          {{- if eq $a "correct" -}}
            {{ $after = printf "%s%s" $after "🟩" }}
            {{ $afterScore = add 0 $afterScore }}
          {{- else if eq $a "present" -}}
            {{ $after = printf "%s%s" $after "🟨" }}
            {{ $afterScore = add 1 $afterScore }}
          {{- else -}}
            {{ $after = printf "%s%s" $after "⬛️" }}
            {{ $afterScore = add 2 $afterScore }}
          {{- end -}}
        {{ end }}

      {{ end }}
    {{ end }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ dateFormat "Jan 2, 2006" .Date }}</a></td>
      <td><a href="{{ .RelPermalink }}">{{ index .Params.puzzles 0 }}</td>
      <td><a href="{{ .RelPermalink }}">{{ $guessSeq }}</td>
      <td>{{ $before }} {{ $beforeScore }}</td>
      <td>{{ $after }} {{ $afterScore }}</td>
      <td>{{ printf "%d" (sub $afterScore $beforeScore) }}</td>
    </tr>

  {{ end }}
</table>

{{ end }}
