{{ define "main" }}
<h1>{{.Title}}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

{{ $wordles := where .Site.RegularPages "Section" "w" }}
{{ $openersByWord := index (partialCached "openers.html" $wordles "openers") "byFirst" }}

<table>
  <tr>
    <td>Word</td>
    <td>Total</td>
    <td>Opens</td>
    <td>First Use</td>
    <td>Last Use</td>
  </tr>

  {{ range .Data.Terms.ByCount }}
    {{ $name := .Name }}
    {{ $count := .Count }}
    {{ $opens := (index $openersByWord .Name) }}
    {{ $first := index (first 1 .Pages.ByDate) 0 }}
    {{ $last := index (last 1 .Pages.ByDate) 0 }}

    {{ with $.Site.GetPage (printf "/%s/%s" "words" $name) }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ .Name }}</a></td>
      <td>{{ $count }}</td>
      <td>{{ $opens | default "-" }}</td>
      <td><a href="{{ $first.RelPermalink}}">{{ $first.Date.Format "2006-01-02" }}</a></td>
      <td><a href="{{ $last.RelPermalink}}">{{ $last.Date.Format "2006-01-02" }}</a></td>
    </tr>
    {{ end }}

  {{ end }}
</table>
{{ end }}
